{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}의 프로필 페이지</h1>
  {% with followings=person.followings.all followers=person.followers.all %}
    <div>
      <div id="follow-count">팔로잉 수 : {{ followings|length }} / 팔로워 수 : {{ followers|length }}</div>
    </div>
    {% if user != person %}
      <div>
        {% comment %} <form action="{% url 'accounts:follow' person.pk %}" method="POST"> {% endcomment %}
        <form id="follow-form" data-user-id="{{person.pk}}">
          {% csrf_token %}
          {% if user in followers %}
            <i class="fas fa-heart like-button" style="color: crimson;"></i>
            <input type="submit" value="언팔로우" id = "follow-input">
          {% else %}
            <i class="fas fa-heart like-button" style="color: black;" ></i>
            <input type="submit" value="팔로우" id = "follow-input"> 
          {% endif %}
        </form>
      </div>
    {% endif %}
  {% endwith %}

  <hr>

  <h2>{{ person.username }}가 작성한 게시글</h2>
  {% for article in person.article_set.all %}
    <div>{{ article.title }}</div>
  {% endfor %}

  <hr>

  <h2>{{ person.username }}가 작성한 댓글</h2>
  {% for comment in person.comment_set.all %}
    <div>{{ comment.content }}</div>
  {% endfor %}

  <hr>

  <h2>{{ person.username }}가 좋아요를 누른 게시글</h2>
  {% for article in person.like_articles.all %}
    <div>{{ article.title }}</div>
  {% endfor %}

  <a href="{% url 'articles:index' %}">[back]</a>
  
{% endblock content %}

{% block script %}
<script>
  // CODE HERE
  const form = document.querySelector('#follow-form')
  
  form.addEventListener('submit', (event) => {
    event.preventDefault()
    
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    const userId = event.target.dataset.userId
    axios({
      method : 'post',
      url : `http://127.0.0.1:8000/accounts/${userId}/follow/`,
      headers : {'X-CSRFToken': csrftoken},
    })
    .then( (res) => {
      const isFollowed = res.data.is_followed
      const followBtn = document.querySelector('#follow-input')
      const HeartBtnStyle = document.querySelector('.like-button')
      const followersCount = res.data.followers_count
      const followingsCount = res.data.followings_count
      const followCountDiv = document.querySelector('#follow-count')

      if (isFollowed === true){
        followBtn.value = '언팔로우'
        followBtn.style.backgroundColor = 'white'
        followBtn.style.color = 'black'
        HeartBtnStyle.style.color = 'crimson'
        
      } else {
        followBtn.value = '팔로우'
        followBtn.style.backgroundColor = '#D7567F'
        followBtn.style.color = 'white'
        HeartBtnStyle.style.color = 'black'
      
      }
      followCountDiv.innerText = `팔로잉 수 : ${ followingsCount } / 팔로워 수 : ${followersCount}`
      
    })
    .catch( (err) => {
      console.log(err)
    })
  })

</script>
{% endblock script %}