{% extends 'base.html' %}

{% block content%}
  <h1 class="text-center"> NEW(CREATE) </h1>
  <!--action도 자기자신을 리다이렉트해서 필요없어짐 지워도됨-->
  <form method="POST">
  <!--<form action="{% url 'articles:create' %}" method="POST">-->
    {% csrf_token %}
    <!--템플릿변수를 이용해서 p태그로 보여줌-->
    {{form.as_p}}
    {% comment %} <label for="title">제목</label>
    <input type="text" id="title" name="title"><br>
    
    <lable for="content">내용</label>
    <textarea id="content" name="content" cols="30" rows="5"> </textarea><br>  
    {% endcomment %}
    <input type="submit"><br>
  </form>
  <a href={% url 'articles:index' %}> [글 목록] </a>
{% endblock content%}