{% extends 'base.html' %}

{% block content %}
  <h1>Community</h1>
  <hr>
  {% for review in reviews %}
    <p>작성자 : <a href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a></p>
    <p>글 번호: {{ review.pk }}</p>
    <p>글 제목: {{ review.title }}</p>
    <p>글 내용: {{ review.content }}</p>
    {% comment %} <form action="{% url 'community:like' review.pk %}" method="POST" class="d-inline"> {% endcomment %}
    <form class="d-inline like-form" data-review-id="{{review.pk}}">
      {% csrf_token %}
      {% if user in review.like_users.all %}
        <button id="like-{{review.pk}}">좋아요 취소</button>
      {% else %}
        <button id="like-{{review.pk}}">좋아요</button>
      {% endif %}
    </form>
    <p id="likecount-{{review.pk}}">{{ review.like_users.all|length }} 명이 이 글을 좋아합니다.</p>
    <a href="{% url 'community:detail' review.pk %}">[detail]</a>
    <hr>
  {% endfor %}
{% endblock %}
{% block script %}
<script>
  // form, csrftoken
  const forms = document.querySelectorAll('.like-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  forms.forEach(form => {
    form.addEventListener('submit', (event)=>{
      event.preventDefault()
      //console.log(event)
      const reviewId = event.target.dataset.reviewId
      
      axios ({
        method : 'post',
        url : `http://127.0.0.1:8000/community/${reviewId}/like/`,
        headers : { 'X-CSRFToken' : csrftoken},
      })
      .then(response => {
        //console.log(response)
        const liked = response.data.liked
        const likeBtn = document.querySelector(`#like-${reviewId}`)
        if (liked) {
          likeBtn.innerText = '좋아요 취소'
        }
        else {
          likeBtn.innerText = '좋아요'
        }
        const count = response.data.count
        const likeCount = document.querySelector(`#likecount-${reviewId}`)
        likeCount.innerText = `${count} 명이 이 글을 좋아합니다.`
      })
    })
    
  })
</script>
{% endblock script %}
