{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}의 프로필 페이지</h1>
  {% with followings=person.followings.all followers=person.followers.all %}
    <div>
      <div>
        <p class='friends'> 
          팔로잉 : {{ followings|length }} / 팔로워 : {{ followers|length }}
        </p>
      </div>
      {% if request.user != person %}
        <div>
          {% comment %} <form action="{% url 'accounts:follow' person.pk %}" method="POST"> {% endcomment %}
          <form id='follow-form' data-user-id="{{person.pk}}">
            {% csrf_token %}
            {% if request.user in followers %}
              <button id="followBtn-{{person.pk}}" >언팔로우</button>
            {% else %}
              <button id="followBtn-{{person.pk}}">팔로우</button>
            {% endif %}
          </form>
        </div>
      {% endif %}
    </div>
  {% endwith %}
{% endblock %}
{% block script %}
<script>
  // form, csrftoken
  const form = document.querySelector('#follow-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  // form에 event 처리
  form.addEventListener('submit', (event)=>{
    event.preventDefault()
    const userId = event.target.dataset.userId
  // axois
  axios({
    method: 'post',
    url: `http://127.0.0.1:8000/accounts/${userId}/follow/`,
    headers: {'X-CSRFToken' : csrftoken}
  })
  // then
    .then(response => {
      //console.log(response)
      const followed = response.data.followed
      const followButton = document.querySelector(`#followBtn-${userId}`)
      if (followed) {
        followButton.innerText = '언팔로우'
      }
      else {
        followButton.innerText = '팔로우'
      }
      const followersCount = response.data.followers_count
      const followingsCount = response.data.followings_count
      const friendsP = document.querySelector('.friends')
      friendsP.innerText = `팔로잉 : ${followingsCount} / 팔로워 : ${followersCount}`
    })

  })
  
</script>
{% endblock script %}